* {
  margin: 0;
  padding: 0;
}

#header {
  padding: 10px;
  background-color: blanchedalmond;
}

table {
  width: 100%;
  height: 100vh;
  border-collapse: collapse;
}

td {
  padding: 3px;
  border: 1px solid black;
  vertical-align: top;
}

#aside {
  width: 150px;
  background-color: lightgrey;
}

#content {
  background-color: goldenrod;
}

#info {
  width: 300px;
  background-color: greenyellow;
}

#info div {
  text-align: center;
  background-color: #80cbc4;
  margin-top: 15px;
  padding: 5px;
  border: 1px dotted gray;
  border-radius: 20px;
}

#footer {
  padding: 10px;
  background-color: #fffde7;
}


.nav-link-wrapper {
  margin: 10px 0;
}

.nav-link-wrapper:hover {
  background-color: blanchedalmond;
}

.nav-link-wrapper a {
  outline: none;
  text-decoration: none;
  color: black;
}

.nav-link-inside {
  width: 100%;
  padding: 5px 10px;
}